@using OnlineShopWebApp.Models
@using OnlineShopWebApp.Properties

@model List<User>

<div class="row">
    <nav class="col-3">
        @await Html.PartialAsync("AdminNav")
    </nav>
    <div class="col-9">
        <h2>Список пользователей</h2>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Логин</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var user in Model)
                {
                    <tr>
                        <td>@user.Id</td>
                        <td>@user.Login</td>
                        <td>@user.Email</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>