@using OnlineShopWebApp.Models

@model List<Product>

<h2>Список продуктов</h2>
<a>Добавить новый продукт</a>

@if (Model.Count == 0)
{
    <p>Список продуктов пуст</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>№</th>
                <th>Название</th>
                <th>Цена</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 1; i <= Model.Count; i++)
            {
                var index = i - 1;

                <tr>
                    <td>@i</td>
                    <td>@Model[index].Name</td>
                    <td>@Model[index].Cost</td>
                    <td><a class="btn">Редактировать</a></td>
                    <td>
                        <a class="btn"
                           asp-controller="Admin"
                           asp-action="DeleteProduct"
                           asp-route-id="@Model[index].Id">
                            Удалить
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}