@using OnlineShopWebApp.Models

@model User

<form method="post"
      class="gap-2 text-center">

    <h3>Вход</h3>

    <input type="hidden" asp-for="Id" value="@Guid.NewGuid()" />

    <div>
        <label asp-for="Login">Логин</label><br />
        <input type="text" asp-for="Login" /><br />
        <span class="text-danger" asp-validation-for="Login"></span>
    </div>

    <div>
        <label asp-for="Email">Email</label><br />
        <input type="email" asp-for="Email" /><br />
        <span class="text-danger" asp-validation-for="Email"></span>
    </div>

    <div>
        <label asp-for="Password">Пароль</label><br />
        <input type="password" asp-for="Password" /><br />
        <span class="text-danger" asp-validation-for="Password"></span>
    </div>

    <div>
        <label asp-for="ConfirmPassword">Подтвердите пароль</label><br />
        <input type="password" asp-for="ConfirmPassword" /><br />
        <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
    </div>

    <button class="btn btn-dark"
            type="submit"
            asp-controller="Registration"
            asp-action="SignUp">
        Зарегистрироваться
    </button>
</form>