<ul class="list-unstyled">
    <li>
        <a class="btn"
           asp-area="Admin"
           asp-controller="Home"
           asp-action="Orders">
            Заказы
        </a>
    </li>
    <li>
        <a class="btn"
           asp-area="Admin"
           asp-controller="Home"
           asp-action="Users">
            Пользователи
        </a>
    </li>
    <li>
        <a class="btn"
           asp-area="Admin"
           asp-controller="Home"
           asp-action="Roles">
            Роли
        </a>
    </li>
    <li>
        <a class="btn"
           asp-area="Admin"
           asp-controller="Home"
           asp-action="Products">
            Продукты
        </a>
    </li>
</ul>
