@using OnlineShopWebApp.Models

@model Pass

<div class="row">
    <nav class="col-3">
        @await Html.PartialAsync("AdminNav")
    </nav>

    <div class="col-7">
        <h2>Изменить пароль</h2>

        <div class="text-danger fw-bold" asp-validation-for-summary="ModelOnly"></div>

        <form class="d-flex flex-column gap-2" method="post">
            <div>
                <input type="hidden" asp-for="Id" value="@Model.Id" /><br />
            </div>

            <div>
                <label asp-for="OldPassword">Пароль</label><br />
                <input asp-for="OldPassword" type="password" placeholder="Пароль" /><br />
                <span class="text-danger" asp-validation-for="OldPassword"></span>
            </div>

            <div>
                <label asp-for="NewPassword">Новый пароль</label><br />
                <input asp-for="NewPassword" type="password" placeholder="Новый пароль" /><br />
                <span class="text-danger" asp-validation-for="NewPassword"></span>
            </div>

            <div>
                <label asp-for="ConfirmNewPassword">Подтвертиде новый пароль</label><br />
                <input asp-for="ConfirmNewPassword" type="password" placeholder="Подтвертиде новый пароль" /><br />
                <span class="text-danger" asp-validation-for="ConfirmNewPassword"></span>
            </div>

            <div>
                <button class="btn btn-success"
                        type="submit"
                        asp-area="Admin"
                        asp-controller="User"
                        asp-action="ChangePassword">
                    Сохранить
                </button>

                <a class="btn btn-dark"
                   asp-area="Admin"
                   asp-controller="User"
                   asp-action="Details"
                   asp-route-id="@Model.Id">
                    Назад
                </a>
            </div>
        </form>
    </div>
</div>
