@using OnlineShopWebApp.Models

@model Role

<div class="row">
    <nav class="col-3">
        @await Html.PartialAsync("AdminNav")
    </nav>
    <div class="col-9">

        <h2>Новая роль</h2>

        <div class="text-danger fw-bold" asp-validation-summary="ModelOnly"></div>

        <form class="d-flex flex-column gap-2" method="post">
            <div>
                <label asp-for="Name">Название</label><br />
                <input asp-for="Name" placeholder="Название роли" /><br />
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>

            <div>
                <button class="btn btn-success"
                        type="submit"
                        asp-area="Admin"
                        asp-controller="Role"
                        asp-action="Add">
                    Сохранить
                </button>

                <a class="btn btn-dark"
                   asp-area="Admin"
                   asp-controller="Home"
                   asp-action="Roles">
                    Назад
                </a>
            </div>
        </form>
    </div>
</div>