@using OnlineShopWebApp.Models

@model Product

<h2>Новый продукт</h2>
<form method="post">
    <div>
        Название: <input type="text" name="name" placeholder="Название товара"/>
    </div>
    <div>
        Цена: <input type="text" name="price" placeholder="Цена товара" />
    </div>
    <div>
        Описание: <input type="text" name="description" placeholder="Описание товара" />
    </div>
    <div>
        Ссылка на картинку: <input type="text" name="imageUrl" placeholder="Ссылка на картинку" />
    </div>
    <button class="btn"
            type="submit"
            asp-controller="Admin"
            asp-action="AddProduct">
        Сохранить
    </button>
    <a class="btn"
       asp-controller="Admin"
       asp-action="Products">
        Назад
    </a>
</form>