@using OnlineShopWebApp.Properties

@model AdminMenuItems

<div class="row">
    <div class="col-3">
        <ul class="list-unstyled">
            <li>
                <a class="btn"
                        asp-controller="Admin"
                        asp-action="Index"
                        asp-route-item="@AdminMenuItems.Orders">
                    Заказы
                </a>
            </li>
            <li>
                <a class="btn"
                        asp-controller="Admin"
                        asp-action="Index"
                        asp-route-item="@AdminMenuItems.Users">
                    Пользователи
                </a>
            </li>
            <li>
                <a class="btn"
                        asp-controller="Admin"
                        asp-action="Index"
                        asp-route-item="@AdminMenuItems.Roles">
                    Роли
                </a>
            </li>
            <li>
                <a class="btn"
                        asp-controller="Admin"
                        asp-action="Index"
                        asp-route-item="@AdminMenuItems.Products">
                    Продукты
                </a>
            </li>
        </ul>
    </div>
    <div class="col-9">
        @switch (Model)
        {
            case AdminMenuItems.Orders:
                <h2>Список заказов</h2>
                break;
            case AdminMenuItems.Users:
                <h2>Список пользователей</h2>
                break;
            case AdminMenuItems.Roles:
                <h2>Список ролей</h2>
                break;
            case AdminMenuItems.Products:
                @await Component.InvokeAsync("AdminProducts")
                break;
            default:
                break;
        }
    </div>
</div>