@using OnlineShopWebApp.Models

@model List<Product>;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <ul class="row">

        @foreach (var product in Model)
        {
            <li class="col-3 card shadow">
                <div class="card-body">
                    <img class="card-img-top" width="100" height="250" src="@product.ImageUrl" />
                    <a style="color: black" href="/product/index/@product.Id">
                        <h5>@product.Name</h5>
                    </a>
                    <p>Цена: @product.Price руб.</p>
                    <a class="btn btn-success" href="/cart/add?productId=@product.Id" role="button">Добавить в корзину</a>
                </div>
            </li>
        }

    </ul>
</div>
