@using OnlineShopWebApp.Models

@model List<Product>;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <ul class="row">

        @foreach (var product in Model)
        {
            <li class="col-3 card shadow">
                <div class="card-body">
                    <img class="card-img-top" src="https://cdn.nur.kz/images/1120/86ae2ae56e309b71.jpeg" />
                    <a style="color: black" href="/product/index/@product.Id">
                        <h5>@product.Name</h5>
                    </a>
                    <p>Цена: @product.Cost руб.</p>
                    <a class="btn btn-dark" href="#" role="button">Добавить в корзину</a>
                </div>
            </li>
        }

    </ul>
</div>
