<div class="d-flex justify-content-center">
    <form class="d-flex flex-column gap-1">
        <label class="fw-bold" for="name">
            Имя
        </label>
        <input type="text" placeholder="Ваше имя..." name="name" />
        <label class="fw-bold" for="address">
            Адрес
        </label>
        <input type="text" placeholder="Ваш адрec..." name="address"/>
        <label class="fw-bold" for="email">
            Почта
        </label>
        <input type="email" placeholder="Ваша почта..." name="email" />
        <label class="fw-bold" for="tel">
            Номер телефона
        </label>
        <input type="tel" placeholder="Ваш тел..." name="tel" />
        <a class="btn btn-success" asp-controller="Order" asp-action="Buy">Оформить</a>
    </form>
</div>



