<div class="d-flex justify-content-center">
    <form class="d-flex flex-column gap-1">
        <label class="fw-bold" for="name">
            Имя
        </label>
        <input type="text" placeholder="Ваше имя..." id="name" />
        <label class="fw-bold" for="lastname">
            Фамилия
        </label>
        <input type="text" placeholder="Ваша фамилия..." id="lastname"/>
        <label class="fw-bold" for="email">
            Почта
        </label>
        <input type="email" placeholder="Ваша почта..." id="email" />
        <label class="fw-bold" for="tel">
            Номер телефона
        </label>
        <input type="tel" placeholder="Ваш тел..." id="tel" />
        <a class="btn btn-success" href="/order/buy">Оформить</a>
    </form>
</div>



