@using OnlineShopWebApp.Models

@model OrderViewModel

<form method="post" class="text-center">
    <div>
        <label asp-for="Name">Имя</label><br />
        <input type="text" asp-for="Name" placeholder="Введите имя" /><br />
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>

    <div>
        <label asp-for="Address">Адрес</label><br />
        <input type="text" asp-for="Address" placeholder="Введите адрес" /><br />
        <span class="text-danger" asp-validation-for="Address"></span>
    </div>

    <div>
        <label asp-for="Email">Почта</label><br />
        <input type="email" asp-for="Email" placeholder="Введите email" /><br />
        <span class="text-danger" asp-validation-for="Email"></span>
    </div>

    <div>
        <label asp-for="Phone">Телефон</label><br />
        <input type="tel" asp-for="Phone" placeholder="Введите номер телефона" /><br />
        <span class="text-danger" asp-validation-for="Phone"></span>
    </div>

    <button class="btn btn-success"
            type="submit"
            asp-controller="Order"
            asp-action="Index">
        Оформить
    </button>
</form>



