
<div style="
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    position: absolute;
    width: 200px;
    height: 150px;
    top: calc(50% - 100px);
    left: calc(50% - 75px);
    text-align: center;
    background: white;">
    <h3>Спасибо за покупку</h3>
    <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Вернуться на главную</a>
</div>