@using OnlineShopWebApp.Models
@using OnlineShopWebApp.Properties

@model List<Role>

<div class="row">
    <nav class="col-3">
        @await Html.PartialAsync("AdminNav")
    </nav>
    <div class="col-4">
        <h2>Список ролей</h2>
        <ul class="d-flex flex-column gap-2 list-unstyled">
            @foreach (var role in Model)
            {
                <li class="d-flex justify-content-between">
                    <span class="fw-bold">@role.Name</span>
                    <a class="btn btn-danger"
                       asp-area="Admin"
                       asp-controller="Admin"
                       asp-action="RemoveRole">
                        Удалить
                    </a>
                </li>
            }
            <a class="btn btn-primary align-self-end mt-2"
               asp-area="Admin"
               asp-controller="Admin"
               asp-action="AddRole">
                Создать
            </a>
        </ul>
    </div>
</div>